<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blog/amaze/header::head-fragment}"></head>
<body id="blog">
<div th:replace="~{blog/amaze/header::nav-fragment}"></div>
<div th:replace="~{blog/amaze/header::header-fragment}"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">

<!--友情链接-->
            <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                <div class="title">
                    <h2>友情链接</h2>
                </div>
                <div class="recommend-list">
                    <ul>
                        <!-- 循环遍历每个推荐链接 -->
                        <th:block th:each="favoriteLink : ${favoriteLinks}">
                            <li>
                                <!-- 链接标题 -->
                                <h3><a th:href="@{${favoriteLink.linkUrl}}" th:text="${favoriteLink.linkName}"></a></h3>
                                <!-- 链接描述 -->
                                <p th:text="${favoriteLink.linkDescription}"></p>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

<!--知识学习-->
            <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                <div class="title">
                    <h2>知识学习</h2>
                </div>
                <div class="recommend-list">
                    <ul>
                        <!-- 循环遍历每个推荐链接 -->
                        <th:block th:each="recommendLink : ${recommendLinks}">
                            <li>
                                <!-- 链接标题 -->
                                <h3><a th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}"></a></h3>
                                <!-- 链接描述 -->
                                <p th:text="${recommendLink.linkDescription}"></p>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

<!--技术学习-->
            <th:block th:unless="${#lists.isEmpty(learningLinks)}">
                <div class="title">
                    <h2>技术学习</h2>
                </div>
                <div class="recommend-list">
                    <ul>
                        <!-- 循环遍历每个推荐链接 -->
                        <th:block th:each="learningLink : ${learningLinks}">
                            <li>
                                <!-- 链接标题 -->
                                <h3><a th:href="@{${learningLink.linkUrl}}" th:text="${learningLink.linkName}"></a></h3>
                                <!-- 链接描述 -->
                                <p th:text="${learningLink.linkDescription}"></p>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

<!--开发工具-->
            <th:block th:unless="${#lists.isEmpty(toolLinks)}">
                <div class="title">
                    <h2>开发工具</h2>
                </div>
                <div class="recommend-list">
                    <ul>
                        <!-- 循环遍历每个推荐链接 -->
                        <th:block th:each="toolLink : ${toolLinks}">
                            <li>
                                <!-- 链接标题 -->
                                <h3><a th:href="@{${toolLink.linkUrl}}" th:text="${toolLink.linkName}"></a></h3>
                                <!-- 链接描述 -->
                                <p th:text="${toolLink.linkDescription}"></p>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>









        </main>
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="~{blog/amaze/footer::footer-fragment}"></footer>
</body>
</html>