<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blog/amaze/header::head-fragment}"></head>
<body id="blog">
<div th:replace="~{blog/amaze/header::nav-fragment}"></div>
<div th:replace="~{blog/amaze/header::header-fragment}"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">
<!--知识学习-->
            <th:block th:unless="${#lists.isEmpty(projectLinks)}">
                <div class="project-list">
                    <ul>
                        <!-- 循环遍历每个推荐链接 -->
                        <th:block th:each="projectLink : ${projectLinks}">
                            <li>
                                <!-- 链接标题 -->
                                <h4 th:text="${projectLink.linkName}"></h4>
                                <h5>项目地址</h5>
                                <a th:href="@{${projectLink.linkUrl}}" th:text="${projectLink.linkUrl}"></a>
                                <!-- 链接描述 -->
                                <h5>项目描述</h5>
                                <p th:text="${projectLink.linkDescription}"></p>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

        </main>
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="~{blog/amaze/footer::footer-fragment}"></footer>
</body>
</html>